<clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="2" style="height: 100% !important;">

<a clrVerticalNavLink [routerLink]="['/Home']" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
    201
</a>

<a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
    Time Keeping
</a>

<a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
    Leaves
</a>

<a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
    Overtime
</a>

<a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
    Adjustments
</a>

<a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
    Payroll
</a>

<clr-vertical-nav-group   
    *appHasRole="['Company']"
    routerLinkActive="active">
    <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
    Config
    <clr-vertical-nav-group-children>       
        <a *appHasRole="['Company']" 
            clrVerticalNavLink 
            [routerLink]="['/maint-company']" 
            routerLinkActive="active">            
            Companies
        </a>
         <a clrVerticalNavLink
            [routerLink]="['/home']"
            routerLinkActive="active">
            Departments
        </a>
        <a clrVerticalNavLink
            [routerLink]="['/sample-crud']"
            routerLinkActive="active">
            Employee Numbering
        </a>
        <a clrVerticalNavLink
            [routerLink]="['/sample-crud']"
            routerLinkActive="active">
            Job Levels
        </a>
        <a clrVerticalNavLink
            [routerLink]="['/sample-crud']"
            routerLinkActive="active">
            Payroll Modes
        </a>

        <a clrVerticalNavLink
            [routerLink]="['/sample-crud']"
            routerLinkActive="active">
            Tax Table
        </a>

        <a clrVerticalNavLink
            [routerLink]="['/sample-crud']"
            routerLinkActive="active">
            SSS
        </a>

        <a clrVerticalNavLink
            [routerLink]="['/sample-crud']"
            routerLinkActive="active">
            HDMF
        </a>

        <a clrVerticalNavLink
            [routerLink]="['/sample-crud']"
            routerLinkActive="active">
            Phil Health
        </a>
       
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>


<clr-vertical-nav-group       
    *appHasRole="['UserGroups']"
    routerLinkActive="active">
    <clr-icon shape="users" clrVerticalNavIcon></clr-icon>
    Users Management
    <clr-vertical-nav-group-children> 
        <a  *appHasRole="['Users']" 
            clrVerticalNavLink 
            [routerLink]="['/users']" 
            routerLinkActive="active">            
            Users
        </a>        
        <a *appHasRole="['UserGroups']" 
            clrVerticalNavLink 
            [routerLink]="['/user-groups']" 
            routerLinkActive="active">            
            User Groups
        </a>
    </clr-vertical-nav-group-children>
</clr-vertical-nav-group>

</clr-vertical-nav>