<a clrVerticalNavLink [routerLink]="['/maint-company']" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>
    Company
</a>
<a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bolt"></clr-icon>
    Electric
</a>
<a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="sad-face"></clr-icon>
    Poison
</a>
<a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="bug"></clr-icon>
    Grass
</a>
<a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="shield"></clr-icon>
    Fighting
</a>
<a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
    <clr-icon clrVerticalNavIcon shape="certificate"></clr-icon>
    Credit
</a>

<!-- 
<section class="sidenav-content">
    <a href="..." class="nav-link" >
        Nav Element 1
    </a>
    <a href="..." class="nav-link">
        Nav Element 2
    </a>
    <section class="nav-group collapsible">
        <input id="tabexample1" type="checkbox">
        <label for="tabexample1">Collapsible Nav Element</label>
        <ul class="nav-list">
            <li ><a class="nav-link">Link 1</a></li>
            <li><a class="nav-link">Link 2</a></li>
        </ul>
    </section>
    <section class="nav-group" >
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2">Default Nav Element</label>
        <ul class="nav-list">
            <li><a class="nav-link" [routerLink]="['/maint-company']" routerLinkActive="active">Link 1</a></li>
            <li><a class="nav-link">Link 2</a></li>
            <li><a class="nav-link">Link 3</a></li>
            <li><a class="nav-link">Link 4</a></li>
            <li><a class="nav-link">Link 5</a></li>
            <li><a class="nav-link">Link 6</a></li>
        </ul>
    </section>

</section> -->