<nav class="subnav" [clr-nav-level]="1">
  <ul class="nav">
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/maint-company']" routerLinkActive="active">Companies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Time Keeping</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Payroll</a>
    </li>  
  </ul>
</nav>