<clr-header>

  <div class="branding">
    <a href="javascript:void(0)" class="nav-link">
      <clr-icon shape="capacitor"></clr-icon>        
      <span class="title">Project Clarity</span>
    </a>
  </div>

  <div class="header-nav">
    <a href="javascript:void()" class="nav-link nav-icon">
        <clr-icon shape="cloud"></clr-icon>
    </a>
    <!-- <a href="#" class="active nav-link nav-icon">
        <clr-icon shape="folder"></clr-icon>
    </a> -->
  </div>

  <div class="header-actions">        
    
      <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
              {{ this.authService.decodedToken?.given_name }}
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a href="..." clrDropdownItem>Preferences</a>
              <a (click)="logout()" clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>       

  </div>
  
</clr-header>